.navbar
  %ul.navbar-inner
    %li= link_to 'Home', '/varvara'
    %li= link_to 'Controllers', '/varvara/controllers'
    %li= link_to 'Models', '/varvara/models'
    %li= link_to 'Routes', '/varvara/routes'
