%table
  %tbody
    %tr
      %td= link_to 'Home', varvara_index_path
      %td= link_to 'Controllers', varvara_controllers_path
      %td= link_to 'Models', varvara_models_path
      %td= link_to 'Routes', varvara_models_path