<table id='route_table' class='route_table'>
  <thead>
    <tr>
      <th>HTTP Verb</th>
      <th>Path</th>
      <th>Controller#Action</th>
    </tr>
  </thead>
  <tbody>
    <%= yield %>
  </tbody>
</table>