<h2>
	Varvara
</h2>

<p>
  Application:
</p>	
<h1>Пацєлюй міня в залюпу</h1>
<ul>
	<li><%= link_to 'Routes', 'varvara/routes' %></li>
	<li><%= link_to 'Controllers', 'varvara/controllers' %></li>
	<li><%= link_to 'Models', 'varvara/models' %></li>
</ul>	
