.navbar {
	position:absolute;
	top: 0px;
	left:0px;
	min-width:700px;
	border-bottom:2px solid #000;
	
	.navbar-inner {
		list-style-type: none;
		padding-left:10px;
		
		a {
			text-decoration: none;
			color: #000;	
		}
		li {
			display: inline-block;
			padding-right:10px;
			font-size:23px;
			font-weight:bold;
		}
	}
}

.varvara-container {
	padding-top: 35px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	-webkit-border-top-left-radius:13px;
	-moz-border-radius-topleft:13px;
	border-top-left-radius:13px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
	text-indent:-2.07px;
	border:2px solid #469df5;
	display:inline-block;	
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	font-style:normal;
	height:33px;
	line-height:33px;
	width:69px;
	a {
		color:#ffffff;
		text-decoration:none;		
	}
	text-align:center;
	text-shadow:4px 3px 0px #287ace;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}.button:active {
	position:relative;
	top:1px;
}
