.navbar {
	position:absolute;
	top: 0px;
	left:0px;
	min-width:700px;
	border-bottom:2px solid #000;
	
	.navbar-inner {
		list-style-type: none;
		padding-left:10px;
		
		a {
			text-decoration: none;
			color: #000;	
		}
		li {
			display: inline-block;
			padding-right:10px;
			font-size:23px;
			font-weight:bold;
		}
	}
}

.varvara-container {
	padding-top: 35px;
}