%table
  %tbody
    %tr
      %td= link_to 'Home', '/varvara'
      %td= link_to 'Controllers', action: 'controllers'
      %td= link_to 'Models', action: 'models'
      %td= link_to 'Routes', action: 'routes'

    
