%table
  %tbody
    %tr
      %td= link_to 'Home', '/varvara'
      %td= link_to 'Controllers', {controller: 'varara', action: 'controllers'}
      %td= link_to 'Models', {controller: 'varara', action: 'models'}
      %td= link_to 'Routes', {controller: 'varara', action: 'routes'}

    
