%table
  %tbody
    %tr
      %td= link_to 'Home', '/varvara'
      %td= link_to 'Controllers', '/varvara/controllers/'
      %td= link_to 'Models', '/varvara/models/'
      %td= link_to 'Routes', '/varvara/routes/'

    
